{% extends "header.html" %}
{% load static %}
{% block head %}
    <style>
        td,th{
            width: 30%;
        }
        .hover:hover{box-shadow: 0px 0px 10px black; padding: 30px;}
    </style>
{% endblock %}
{% block myblock %}
    <div class="container-fluid" style="margin-top: 70px; background: url('/static/images/c3.JPEG'); background-size: 100% 100%;">
        <div class="row py-5" style="background: rgba(0,0,0,0.5);">
            <div class="col-md-12 py-5 my-5 text-white text-center font-weight-bold text-uppercase">
                {% if abcd %}
                <h1>Total ({{property|length}}) Result Match</h1>
                {% else %}
                <h1>All Properties ({{property|length}})</h1>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row py-4">
          {% for i in property %}
                <div class="col-md-4 p-4">
                    <div class="border border-secondary hover">
                        <img src="/media/{{i.property_images}}" height="200" width="100%" alt="">
                        <h3>
                        <a style="color: royalblue;" href="{% url 'property_detail' %}?pid={{i.id}}">{{i.property_name}}</a>
                        </h3>
                        <h4>
                            <span><del>&#8377; {{i.property_price}}</del></span>
                            <span>&#8377; {{i.sale_price}}</span>
                        </h4>
                    </div>
                </div>
          {% endfor %}
        </div>
    </div>
{% endblock %}