{% extends "dashboard_base.html" %}
{% load static %}
{% block head %}
    <style>
        label{color:black;}
        .bg-img{
            background: url("{% static 'images/img7.JPEG'%}"); height: 100%; background-size: cover;
        }
    </style>
{% endblock %}
{% block dashboard %}
    <div class="container-fluid bg-img">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center" style="margin-top: 100px;">Change Password</h1>
                <hr>
                {% if msz %}
                    <div class="alert {{col}}">{{msz}}</div>
                {% endif %}
            </div>
        </div>
        <div  class="row">
            <div class="col-md-6 mx-auto bg-light p-5">
                <form action="" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <label >Current Password</label>
                        <div class="input-group">
                        <input type="password" name="cpwd" id="cpwd" class="form-control">
                        <div class="input-group-append">
                            <span class="input-group-text bg-transparent text-dark"><i class="fas fa-eye" id="icon"></i></span>
                        </div>
                    </div>
                    </div>
                    <div class="form-group">
                        <label >New Password</label>
                        <div class="input-group">
                        <input type="password" name="npwd" id="pas" class="form-control" onkeyup="check_pass()">
                        <div class="input-group-append">
                            <span class="input-group-text bg-transparent text-dark"><i class="fas fa-eye" id="icon1"></i></span>
                        </div>
                    </div>
                    </div>
                    <div class="form-group">
                        <label >Confirm New Password</label>
                        <div class="input-group">
                        <input type="password" id="cpas" class="form-control" onkeyup="check_pass()">
                        <div class="input-group-append">
                            <span class="input-group-text bg-transparent text-dark"><i class="fas fa-eye" id="icon2"></i></span>
                        </div>
                    </div>
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btn btn-warning" value="Change Password" id="sbbtn">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script>
        function check_pass(){
            let p = $("#pas").val();
            let cp = $("#cpas").val();
            
            if(p == cp){
                $("#pas").css("border","1px solid green");
                $("#cpas").css("border","1px solid green");
                $("#sbbtn").removeAttr("disabled","disabled");
            }else{
                $("#pas").css("border","1px solid red");
                $("#cpas").css("border","1px solid red");
                $("#sbbtn").attr("disabled","disabled");
            }
        }
    </script>
    <script>
        $(function(){
            $("#icon").click(function(){
                let a=$("#cpwd").attr("type");
                if(a=="password"){
                    $("#cpwd").attr("type", "text");
                    $("#icon").removeClass("fas fa-eye").addClass("fas fa-eye-slash");
                }
                else{
                    $("#cpwd").attr("type", "password");
                    $("#icon").removeClass("fas fa-eye-slash").addClass("fas fa-eye");
                }  
            })
        })
    </script>

<script>
    $(function(){
        $("#icon1").click(function(){
            let a=$("#pas").attr("type");
            if(a=="password"){
                $("#pas").attr("type", "text");
                $("#icon1").removeClass("fas fa-eye").addClass("fas fa-eye-slash");
            }
            else{
                $("#pas").attr("type", "password");
                $("#icon1").removeClass("fas fa-eye-slash").addClass("fas fa-eye");
            }  
        })
    })
</script>

<script>
    $(function(){
        $("#icon2").click(function(){
            let a=$("#cpas").attr("type");
            if(a=="password"){
                $("#cpas").attr("type", "text");
                $("#icon2").removeClass("fas fa-eye").addClass("fas fa-eye-slash");
            }
            else{
                $("#cpas").attr("type", "password");
                $("#icon2").removeClass("fas fa-eye-slash").addClass("fas fa-eye");
            }  
        })
    })
</script>
{% endblock %}