{% extends "header.html" %}
{% block myblock %}
{% if user.is_superuser %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 px-0 mt-4">
                <div class="jumbotron text-center">
                    <h1 class="alert alert-danger">Sorry {{user.username}} You Are Not Allowed Here</h1>
                </div>
            </div>
        </div>
    </div>
{% else %}
<div class="container-fluid">
    <div class="row">
        <!-- Lest side Menu -->
        <div class="col-md-2 bg-dark py-5">
            <nav class="navbar navbar-dark">
                <a href="" class="navbar-brand mt-3">My Dashboard
                    <p>{{user.username}}</p>
                </a>
                
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a href="{% url 'customer_dashboard' %}" class="nav-link">View Profile</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a href="{% url 'edit_profile' %}" class="nav-link">Edit Profile</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'change_password' %}" class="nav-link">Change Password</a>
                    </li>
                    {% if user.is_staff %}
                    <li class="nav-item">
                        <a href="{% url 'add_property_view' %}" class="nav-link">Add Property</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'add_property_view' %}" class="nav-link">My Property</a>
                    </li>
                    {% endif %}
                    <li class="nav-item">
                        <a href="{% url 'user_logout' %}" class="nav-link">Logout</a>
                    </li>
                </ul>
            </nav>
        </div>
        <!-- right side menu -->
        <div class="col-md-10 px-0">
            {% block dashboard %}

            {% endblock %}
        </div>
    </div>
</div>
{% endif %}
{% endblock %}