{% extends "dashboard_base.html" %}
{% load static %}
{% block head %}
<style>
    label{color:black}
</style>
{% endblock %}
{% block dashboard %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-10 bg-light py-5 mx-auto">
            <form action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {% if status %}
                    <div class="alert alert-success mt-5">{{status}}</div>
                {% endif %}
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-12 pt-5 text-center">
                            {% if data.profile_picture %}
                            <img src="/media/{{data.profile_picture}}" style="height: 200px; width: 200px;" >
                            {% else %}
                            <img src="{% static 'images/images.PNG' %}" style="height: 200px; width: 200px;" >
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="form-group">
                <div class="row">
                    <div class="col-md-6 pt-5">
                        <label>First Name</label>
                        <input type="text" name="fname" class="form-control" placeholder="Eneter First Name" value="{{user.first_name}}">
                    </div>
                    <div class="col-md-6 pt-5">
                        <label>Last Name</label>
                        <input type="text" name="lname" class="form-control" placeholder="Enter Last Name" value="{{user.last_name}}">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-6">
                        <label>Email</label>
                        <input type="email" name="email" class="form-control" placeholder="Enter Email" value="{{user.email}}">
                    </div>
                    <div class="col-md-6">
                        <label>Profile Picture</label>
                        <input type="file" name="image" class="form-control">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-6">
                        <label>Contact</label>
                        <input type="text" name="contact" class="form-control" placeholder="Enter Contact Number"
                         pattern="[0-9]{10}" title="number must contain 10 digits" value="{{data.contact_number}}">
                    </div>
                    <div class="col-md-6">
                        <label>Age</label>
                        <input type="number" name="age" class="form-control" min="15" max="99" placeholder="Enter Age" value="{{data.age}}">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-6">
                        <label>Gender</label>
                        <select name="gender" class="form-control">
                            <option value="Male">Male</option>
                            {% if data.gender == "Female" %}
                            <option value="Female" selected>Female</option>
                            {% else %}
                            <option value="Female">Female</option>
                            {% endif %}
                            
                            {% if data.gender == "Others" %}
                            <option value="Others" selected>Others</option>
                            {% else %}
                            <option value="Others">Others</option>
                            {% endif %}
                        </select>
                    </div>
                    <div class="col-md-6">
                        <label>City Name</label>
                        <input type="text" name="city" class="form-control" placeholder="Enter City Name" value="{{data.city}}">
                    </div>
                    </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-6">
                        <label>Pin Code</label>
                        <input type="text" name="pin" class="form-control" placeholder="Enter City Name" value="{{data.city}}">
                    </div>
                    <div class="col-md-6">
                        <label>State</label>
                        <input type="text" name="state" class="form-control" placeholder="Enter City Name" value="{{data.city}}">
                    </div>
                    </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-6">
                        <label>Country</label>
                        <input type="text" name="con" class="form-control" placeholder="Enter City Name" value="{{data.city}}">
                    </div>  
                    <div class="col-md-6">
                        <label>Occupation</label>
                        <input type="text" name="occ" class="form-control" placeholder="Enter Occupation" value="{{data.occupation}}">
                    </div>
            </div>
            <div class="form-group">
                <div class="row">  
                    <div class="col-md-12">
                        <label>About</label>
                        <textarea name="about" placeholder="Write About Yourself" class="form-control">{{data.about}}</textarea>
                    </div>
                </div>
            </div>
                <div class="form-group pt-3">
                    <input type="submit" name="chnageprofile" value="Save Changes" class="btn btn-primary rounded-pill" style="width: 50%;">
                </div>
            
            </form>
        </div>
    </div>
</div>
{% endblock %}