{% extends 'header.html' %}
{% load static %}
{% block head %}
    <style>
       #icon1,#icon2,#icon3{display: inline-block;}
       .icon{color: orange;}
       #btn1:hover{color:white}
       .mid2-img{
            background: url("{% static 'images/header.JPEG'%}");  background-size: cover;
        }
        .trans{
            background: rgba(10, 8, 69,0.5);
        }s
    </style>
{% endblock %}

{% block myblock %}
    <div class="container-fluid" style="background-color: rgb(54, 63, 192); height: 600px; width: 100%;">
        <div style="background: rgba(0,0,0,0.5); height: 100%; width: 100%;">
        <div class="row">
            <div class="col-md-8 text-white">
                <h2 class="mt-5 ml-5 pt-5 pl-5" id="one">Comfortable Apartment in Palace</h2>
                <p class="ml-5 pl-5"><i class="fas fa-map-marker-alt"></i> <span>200/A, Greenland, Texaro, USA</span></p>
               <ul type="none" >
                 <li  id="icon1">
                     <i class="fas fa-cube ml-3 mt-5 pl-5 icon"></i>
                    <p class="ml-3 pl-5 mt-2">1200 Sqft</p>
                </li>
                <li id="icon2">
                
                    <i class="fas fa-bed ml-3 mt-5 pl-5 icon"></i>
                   <p class="ml-3 pl-5 mt-2">2 Bed</p>
               </li>
               <li id="icon3">
                <i class="fas fa-bath ml-3 mt-5 pl-5 icon"></i>
               <p class="ml-3 pl-5 mt-2">2 Bath</p>
           </li>
               </ul>
            </div>

            <div class="col-md-4">
              <h1 class="text-danger ml-5 mt-5 pl-5 pt-5">$4567</h1>
              <button class="btn btn-outline-warning rounded-pill ml-5 mt-3 pr-5 pl-5" id="btn1">+10 367 457 735</button>
            </div>
        </div>
    </div>
    </div>
    <div class="container">
        <div class="row" style="background-color: transparent; position: relative;bottom: 200px;">
            <div class="col-md-12 p-5">
                <div class="carousel slide" data-ride="carousel" id="mycar">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="col-md-12 px-0 text-center" style="margin-bottom: 100px;">
                                <img src="{% static 'images/header.JPEG'%}" height="700px" width="100%" alt="">
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="col-md-12 px-0 text-center" style="margin-bottom: 100px;">
                                <img src="{% static 'images/header.JPEG'%}" height="700px" width="100%" alt="">

                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="col-md-12 px-0 text-center" style="margin-bottom: 100px;">
                                <img src="{% static 'images/header.JPEG'%}" height="700px" width="100%" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <a href="#mycar" class="carousel-control-prev" data-slide="prev">
                    <span class="carousel-control-prev-icon"></span>
                </a>
                <a href="#mycar" class="carousel-control-next" data-slide="next">
                    <span class="carousel-control-next-icon"></span>
                </a>
            </div>
        </div>
   
        <div class="row" style="position: relative; bottom: 200px;">
            <div class="col-md-12 text" style="font-family: arial;">
                <h4 class="ml-5">Description</h4>
                <p class="ml-5">While there are countless Trips out there in charity shops and car boot sales, 
                    you can also buy refurbished examples, with replacement leatherette available in all colors.
                     I love my Trip and use it regularly something so refreshing about its simplicity.</p>
                <p class="ml-5" >While there are countless Trips out there in charity shops and car boot sales,
                     you can also buy refurbished examples, with replacement leatherette available in all colors.
                     I love my Trip and use it regularly something so refreshing about its simplicity.</p>
                <p class="ml-5">While there are countless Trips out there in charity shops and car boot sales,
                     you can also buy refurbished examples, with replacement leatherette available in all colors.
                     I love my Trip and use it regularly something so refreshing about its simplicity.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 text-center " style="position: relative; bottom: 100px;">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3430.0561195236173!2d76.6924771144611!3d30.716822693451668!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390fee5a42944be3%3A0xb713d3a3e26a89c1!2sSachTech%20Solution%20Pvt.%20Ltd.!5e0!3m2!1sen!2sin!4v1586237717539!5m2!1sen!2sin" width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <h4>Contact Us</h4>
                <form>
                    <div class="form-row">
                      <div class="form-group col-md-6">
                        <input type="email" class="form-control"  placeholder="Your Name">
                      </div>
                      <div class="form-group col-md-6">
                        <input type="password" class="form-control"  placeholder="Password">
                      </div>
                    </div>
                    <div class="form-group">
                      <input type="text" class="form-control" placeholder="phone no.">
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" name="" id="" cols="30" rows="5" placeholder="Message"></textarea>
                      </div>
                    
                    <button type="submit" class="btn btn-block" style="background-color: orange;">Sign in</button>
                  </form> 
            </div>
        </div>
    </div>

    <div class="container-fluid mt-5 mb-5">
        <div class="row mid2-img">
            <div class="col-md-6 text-white trans">
                <h1 class="pl-3 my-5 py-4">Add your Propery for Sale</h1>
            </div>
            <div class="col-md-3 text-white text-center trans">
                <h5 class="my-5 py-5">+10 637 367 4567</h5>
            </div>
            <div class="col-md-3 text-white text-center trans pt-5">
                <button class="btn btn-outline-light rounded-pill my-5">Add Property</button>
            </div>
        </div>
    </div>
{% endblock %}