{% extends 'header.html' %}
{% load static %}
{% block head %}
    <style>
        .img{
            background: url("{% static 'images/img6.JPG'%}"); background-size: cover; 
        }
        .trans{
            background: rgba(20, 18, 15, 0.5);
        }
    </style>
    {% endblock %}

{% block myblock %}
    <div class="container-fluid">
        <div class="row img bg">
            <div class="col-md-5 mx-auto p-5 my-5 text-white trans">
                <form action="{% url 'user_login' %}" method="POST">
                    {% csrf_token %}
                    <div class="form-group text-center">
                        <span style="font-size: 50px;"><i class="fas fa-user"></i></span>
                        <h1><strong>Sign In</strong></h1>
                    </div>
                    <div class="form-group">
                        <label>Username</label>
                        <input type="text" name="username" class="form-control bg-transparent text-white" required>
                    </div>
                    <div class="form-group">
                        <label>Enter Password</label>
                        <div class="input-group">
                            <input type="password" name="pwd" id="pwd" class="form-control bg-transparent text-white"
                                required >
                            <div class="input-group-append">
                                <span class="input-group-text bg-transparent text-white"><i class="fas fa-eye" id="icon"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-6">
                                <input type="checkbox"> <span>Remember Me</span>
                            </div>
                            <div class="col-md-6">
                                <a href="" class="text-white">Forgot Password?</a>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary form-control">Sign In</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script>
        $(function(){
            $("#icon").click(function(){
                let a=$("#pwd").attr("type");
                if(a=="password"){
                    $("#pwd").attr("type", "text");
                    $("#icon").removeClass("fas fa-eye").addClass("fas fa-eye-slash");
                }
                else{
                    $("#pwd").attr("type", "password");
                    $("#icon").removeClass("fas fa-eye-slash").addClass("fas fa-eye");
                }  
            })
        })
    </script>

{% endblock %}