{% extends "base.html" %}
{% load static %}
{% block myblock %}
<div class="row">
    <div class="col-md-12 px-0">
        <img src="{% static 'images/nature.JPEG' %}" alt="" height="300">
    </div>
    <div class="col-md-12">
        <h1>This is About page</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aspernatur maiores dicta a excepturi cumque tempore repellat omnis provident neque,
           hic dolorem placeat asperiores nostrum officiis quod earum necessitatibus beatae minima.</p>
    </div>
</div>
{% endblock %}