{% extends "dashboard_base.html" %}
{% load static %}
{% load bootstrap4 %}
{% block dashboard %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 mx-auto bg-light my-4">
                <h1>Add Product</h1>
                <!-- {{form.as_p}} -->
                <form action="" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    <input type="submit" class="btn btn-primary" name="" value="Add Product">
                </form>
            </div>
        </div>
    </div>
{% if status %}
    <script>
        alert("{{status}}");
        window.location = "/cust_dashboard/"
    </script>
{% endif %}
{% endblock %}