<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WebSite Name</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css'%}">
    <script src="{% static 'jquery.js'%}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js'%}"></script>
    <link rel="stylesheet" href="{% static 'fontawesome/css/all.min.css'%}">
    <style>
        img{
            width: 100%;
        }
    </style>
    {% block head %}

    {% endblock %}
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 px-0">
                <nav class="navbar navbar-expand bg-primary navbar-dark">
                    <a href="" class="navbar-brand">MyWebsite</a>
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a href="{% url 'index' %}" class="nav-link">Home</a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'about' %}" class="nav-link">About</a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'contact' %}" class="nav-link">Contact</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a href="" class="nav-link dropdown-toggle" data-toggle="dropdown">category</a>
                            <div class="dropdown-menu">
                                {% for c in category %}
                                <a href="{% url 'all_product' %}?cat={{c.id}}" class="dropdown-item">{{c.cat_name}}</a>

                                {% endfor %}
                            </div>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'all_product' %}" class="nav-link">All Products</a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'reg' %}" class="nav-link">sign up</a>
                        </li>
                        
                    </ul>
                    <ul class="navbar-nav ml-auto">
                        {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a href="{% url 'cust_dashboard' %}" class="nav-link" >Welcome {{user.username}}</a>
                        </li>
                        {% else %}
                        <li class="nav-item">
                            <a href="{% url 'reg' %}" class="btn btn-outline-light mr-2">sign up</a>
                        </li>
                        <li class="nav-item">
                            <a href="" class="btn btn-outline-light" data-toggle="modal"
                            data-target="#mymodal">Login</a>
                        </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        <div class="col-md-12">
            <div class="modal fade" id="mymodal">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body">
                            <form action="{% url 'user_login' %}" method="POST">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label>Username</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="fas fa-user"></i>
                                            </span>
                                        </div>
                                        <input type="text" name="username" class="form-control" placeholder="Enter Username">
                                        
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Password</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="fas fa-key"></i>
                                            </span>
                                        </div>
                                        <input type="password" name="pwd" class="form-control" placeholder="Enter Password"> 
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input type="checkbox" name="rememberme"><label>Remember Me</label>
                                    <a href="{% url 'forgotpass' %}">Forgot Password</a>
                                </div>
                                <div class="form-group">
                                    <input type="submit" value="submit" class="btn btn-success">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        {% block myblock %}
          
        {% endblock%}
        <div class="row bg-primary text-light p-5">
            <div class="col-md-4" style="border-right: 2px solid white;">
                <h4>lorem ipsum</h4>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dignissimos libero eaque odio quisquam ea quidem ab dolores iusto repellendus, ad atque omnis sequi non odit maiores. Tenetur doloribus animi obcaecati!</p>
            </div>
            <div class="col-md-4" style="border-right: 2px solid white;">
                <ul>
                    <li>link 1</li>
                    <li>link 2</li>
                    <li>link 3</li>
                </ul>
            </div>
            <div class="col-md-4" style="border-right: 2px solid white;">
                <ul>
                    <li>link 1</li>
                    <li>link 2</li>
                    <li>link 3</li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>