{% extends "base.html" %}
{% load static %}
{% block head %}
    <style>
        .cart td{
            width: 20%;
        }
    </style>
{% endblock %}
{% block myblock %}
{% if user.is_superuser %}
    <h1 class="jumbotron my-3">You Are Not Allowed Here</h1>
{% else %}
{% if items|length == 0 %}
    <div class="container-fluid">
        <div class="jumbotron alert alert-danger">
            &times; Your Shopping Cart is Empty
        </div>
    </div>
{% else %}
    <div class="container-fluid" style="background: url('/static/images/cover1.JPEG'); background-size: 100% 100%;">
        <div class="row py-5 my-5" style="background:rgba(0,0,0,0.5)">
            <div class="col-md-12 py-5 my-2 text-light text-center font-weight-bold text-uppercase ">
               {% if status %}
                <h1>{{status}}</h1>
               {% else %}
                <h1>My Cart ({{items|length}})</h1>
                {% endif %}
            </div>
        </div>
    </div>
    {% if user.is_authenticated %}
    <div class="container-fluid">
        <div class="row">
           <div class="col-md-9 my-5" style="box-shadow: 0px 0px 10px gray;">
                {% if msz %}
                    <div class="{{cls}}">{{msz}}</div>
                {% endif %}

                <table class="table cart">
                    <thead>
                        <tr>
                            <th>Image</th>
                            <th>Product Name</th>
                            <th>Product Price</th>
                            <th>Quantity</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in items %}
                            <tr id="row{{i.id}}">
                                <td><img src="/media/{{i.product.product_image}}" style="height: 100px; width: 150px;"  alt=""></td>
                                <td>{{i.product.product_name}}</td>
                                <td>&#8377;<del id="pp{{i.id}}">{{i.product.product_price}}</del>&#8377;<span id="sp{{i.id}}">{{i.product.sale_price}}</span></td>
                                <td>
                                    <div class="row">
                                    <div class="col-md-3">
                                        <i class="fa fa-plus bg-success p-1 text-light rounded-circle" onclick="change_quan('{{i.id}}','plus')"></i>
                                    </div>
                                    <div class="col-md-6">
                                        <input type="number" class="form-control" value="{{i.quantity}}" id="cart{{i.id}}">
                                    </div>                    
                                    <div class="col-md-3">
                                        <i class="fa fa-minus bg-danger p-1 text-light rounded-circle" onclick="change_quan('{{i.id}}','minus')"></i>
                                    </div> 
                                </div>
                                </td>
                                <td><button onclick="remove_cart('{{i.id}}')" class="btn btn-danger">&times; Remove</button></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
           </div>
           <div class="col-md-3 my-5"style="box-shadow: 0px 0px 10px gray;">
                    <h3 class="text-center">CHECKOUT</h3>
               <table class="table"> 
                   <tr>
                       <td>ITEM TOTAL</td>
                       <td id="item_total"></td>
                   </tr>
                   <tr>
                    <td>OFFERED PRICE</td>
                    <td id="disc"></td>
                </tr>
                   <tr>
                       <td>YOU SAVED</td>
                       <td id="offer"></td>
                    </tr>
                    <tr>
                        <td>QUANTITY</td>
                        <td id="quantity"></td>
                    </tr>
                    <tr>
                        <td>DELIVERY</td>
                        <td>FREE</td>
                    </tr>
                    <tr style="border-top: 2px solid dotted;">
                        <td>GRAND TOTAL</td>
                        <td id="grand_total"></td>
                    </tr>
               </table>
               <div class="p-3">
                   <a href="{% url 'process_payment' %}" class="btn btn-success btn-block btn-sm">PROCEED TO PAY &#8377; <span id="btamt"></span></a>
               </div>
           </div>
        </div>
    </div>
    <script>
        function grandtotal(){
            $.ajax({
                url:"{% url 'get_cart_data' %}",
                type:"get",
                success:function(data){
                    p = Math.round(100-((data.offer/data.total)*100),2)
                    save = data.total-data.offer;
                    $("#item_total").html("&#8377;"+data.total)
                    $("#disc").html("&#8377;"+data.offer)
                    $("#offer").html("&#8377;"+save+"<span class='text-success'>("+p+"%)</span>") 
                    $("#quantity").html(data.quan+" items")
                    $("#grand_total").html("&#8377;"+data.offer)
                    $("#btamt").html(data.offer)

                }
            })
        }
        grandtotal();

        function change_quan(id,action){
                let old = $("#cart"+id).val();
                quan = 0;
                if (action=="plus"){
                    quan += parseInt(old)+1;
                }else{
                    quan += parseInt(old)-1;
                }
                $("#cart"+id).val(quan);

                $.ajax({
                    url:"{% url 'change_quan' %}",
                    type:"get",
                    data:{cid:id, quantity:quan},
                    success:function(data){
                        grandtotal();
                        if(data==0){
                            remove_cart(id);
                        }
                    //    n =  $("#pp"+id).html()*quan;
                    //    ns = $("#sp"+id).html()*quan;
                    //    $("#pp"+id).html(n)
                    //    $("#sp"+id).html(ns)

                    }
                })
        }
        function remove_cart(id){
            $.ajax({
                url: "{% url 'change_quan' %}",
                data:{delete_cart:id},
                success:function(data){
                    grandtotal();
                    $("#row"+id).hide();
                }
            })
        }
    </script>
{% endif %}
    {% endif %}
{% endif %}
{% endblock %}