{% extends "dashboard_base.html" %}
{% block dashboard %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 mx-auto bg-light py-5 p-4">
                <form action="" method="POST">
                    {% csrf_token %}
                    <h1>Get Your Password</h1>
                    <hr>
                    {% if msz %}
                        <div class="alert {{col}}">{{msz}}</div>
                    {% endif %}
                    <div class="form-group">
                        <label>Current Password</label>
                        <input type="password" name="cpwd" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label>New Password</label>
                        <input type="password" name="npwd" class="form-control" id="pas" required onkeyup="check_password()">
                    </div>
                    <div class="form-group">
                        <label>Confirm New Password</label>
                        <input type="password" class="form-control" id="cpas" onkeyup="check_password()">
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btn btn-warning" name="submit" required value="Change Password" id="sbbtn">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script>
        function check_password(){
            let p = $("#pas").val();
            let cp = $("#cpas").val();
            
            if(p==cp){
                $("#pas").css("border","1px solid green");
                $("#cpas").css("border","1px solid green");
                // $("#pas").removeClass("alert alert-danger").addClass("alert alert-success");
                // $("#cpas").removeClass("alert alert-danger").addClass("alert alert-success");
                $("#sbbtn").removeAttr("disabled");
            }else{
                $("#pas").css("border","1px solid red");
                $("#cpas").css("border","1px solid red");
                // $("#pas").removeClass("alert alert-success").addClass("alert alert-danger");
                // $("#cpas").removeClass("alert alert-success").addClass("alert alert-danger");
                $("#sbbtn").attr("disabled","disabled");
            }
        }
    </script>
{% endblock %}
