{% extends "base.html"%}
{% load static%}
{% block myblock%}

<div class="container-fluid">
<div class="row">
    <div class="col-md-12 bg-primary text-center py-5  text-light">
        <h1>This is Contact page</h1>
    </div>
    <div class="col-md-6">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3430.0561195236173!2d76.6924771144611!3d30.716822693451668!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390fee5a42944be3%3A0xb713d3a3e26a89c1!2sSachTech%20Solution%20Pvt.%20Ltd.!5e0!3m2!1sen!2sin!4v1585732697502!5m2!1sen!2sin" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    </div>
    <div class="col-md-6">
        <form action="" method="POST">
            {% csrf_token %}
            <div class="form-group">
             <label for="">Your Name</label>
            <input type="text" class="form-control" name="name" placeholder="Enter Name...">
            </div>
            <div class="form-group">
                <label for="">contact number</label>
               <input type="text" class="form-control" name="contact" placeholder="Enter contact number...">
            </div>
            <div class="form-group">
                <label for="">Subject</label>
               <input type="text" class="form-control" name="subject" placeholder="Enter Subject...">
            </div>
            <div class="form-group">
                <label for="">Message</label>
                <textarea class="form-control" name="message" rows="5"></textarea>
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-success" value="Send Message">
            </div>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h2 class="text-center">Previous Feedbacks</h2>
        <h2 class="text-center">Total: {{message|length}}</h2>
        <table class="table table-bordered table-striped table-hover">
            <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Contact Number</th>
                <th>Subject</th>
                <th>Message</th>
                <th>Date</th>
            </tr>
           </thead>
           <tbody>
            {% for i in message %}
            <tr>
                <td>{{i.id}}</td>
                <td>{{i.name}}</td>
                <td>{{i.contact_number}}</td>
                <td>{{i.subject}}</td>
                <td>{{i.message}}</td>
                <td>{{i.added_on}}</td>
            </tr>
            {% endfor %}
        </tbody>
        </table>
    </div>
</div>
</div>
{% if status %}
<script>
    alert("{{status}}");
</script>
{% endif %}
{% endblock %}