{% extends "dashboard_base.html" %}
{% block dashboard %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 mx-auto p-4">
                <div class="card shadow shadow-lg">
                    <div class="card-body">
                        <h4 class="text-danger">Are You Sure Want To Delete</h4>
                        <img src="/media/{{product.product_image}}" height="200" width="100%" alt="">
                        <h1>{{product.product_name}}</h1>
                        <div class="mt-4">
                            <a href="{% url 'delete_product' %}?pid={{product.id}}&&action=confirm" class="btn btn-danger">Confirm Delete</a>
                            <a href="{% url 'my_product' %" class="btn btn-warning">Cancel</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% if status %}
<script>
    alert("{{status}}");
    window.location = "/my_product/"
</script>
{% endif %}
{% endblock %}