{% extends "dashboard_base.html" %}
{% load static %}
{% block head %}
<style>
.bg-img{
    background:url("/static/images/cover.JPEG")
}
</style>
{% endblock %}
{% block dashboard %}
<div class="container-fluid">
    <div class="row">
       <div class="col-md-12 bg-img py-5 text-center text-light">
            <h1>Dashboard &gt; Edit Profile</h1>
       </div>
       <div class="col-md-6 mx-auto p-3 bg-light my-2">
        <div class="text-center">
            {% if data.profile_pic %}
            <img src="/media/{{data.profile_pic}}" style="height: 150px; width: 150px; border-radius: 50%;">
            {% else %}
            <img src="{% static 'images/user.PNG'%}" style="height: 150px; width: 150px; border-radius: 50%;">
            {% endif %}
        </div>
            <form action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {% if status %}
                    <div class="alert alert-primary">{{status}}</div>
                {% endif %}
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6">
                            <label for="">First Name</label>
                            <input type="text" name="fname" class="form-control" placeholder="Enter Name" value="{{user.first_name}}">
                        </div>
                        <div class="col-md-6">
                            <label for="">Last Name</label>
                            <input type="text" name="lname" class="form-control" placeholder="Enter Name" value="{{user.last_name}}">
                        </div>
                        <div class="col-md-6">
                            <label for="">Email</label>
                            <input type="email" name="email" class="form-control" placeholder="Enter Email" value="{{user.email}}">
                        </div>
                        <div class="col-md-6">
                            <label for="">Profile Picture</label>
                            <input type="file" name="image" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                    <div class="col-md-6">
                        <label>Contact</label>
                    <input type="text" value="{{data.contact_number}}" class="form-control" name="contact" placeholder="Enter Contact Number" pattern="[0-9]{10}"title="Number must contain 10 digits only!!">
                    </div>
                    <div class="col-md-6">
                        <label for="">Age (in years)</label>
                        <input type="number" value="{{data.age}}" name="age" class="form-control" placeholder="Enter age" min="15" max="99">
                    </div>
                  </div>
                </div>
                <div class="form-group">
                    <div class="row">
                    <div class="col-md-6">
                        <label>City</label>
                    <input type="text" class="form-control" name="city" placeholder="Enter City" value="{{data.city}}">
                    </div>
                    <div class="col-md-6">
                        <label for="">Gerder</label>
                        <select name="gender" class="form-control">
                            <option value="Male">Male</option>
                            {% if data.gender == "Female" %}
                            <option value="Female" selected>Female</option>
                            {% else %}
                            <option value="Female">Female</option>
                            {% endif %}

                            {% if data.gender == "Others" %}
                            <option value="Others" selected>Others</option>
                            {% else %}
                            <option value="Others">Others</option>
                            {% endif %}
                        </select>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                    <label for="">Occupation</label>
                    <input type="text" class="form-control" name="occ" placeholder="Enter Occupation" value="{{data.occupation}}">
                </div>
                <div class="form-group">
                    <label for="">About</label>
                    <textarea name="about" class="form-control" placeholder="Write About yourself" >{{data.about}}</textarea>
                </div>
                <div class="form-group">
                    <input type="submit" name="chnageprofile" value="Save Changes" class="btn btn-primary rounded-pill" style="width: 50%;">
                </div>
            </form>
       </div>
    </div>
</div>
{% endblock %}