{% extends "base.html" %}
{% block head %}
    <style>
        .spinner{
            height: 100px; width: 100px; border: 10px solid gray;border-bottom: 10px solid blue;
            animation:ani 1s linear infinite;border-radius: 50%;margin: auto;
        }
        @keyframes ani{
            from{transform: rotate(0deg);}
            to{transform: rotate(360deg);}
        }
    </style>
{% endblock %}
{% block myblock %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 mx-auto my-5 p-5 shadow shadow-lg">
                <h2>Reset Your Password</h2><hr>
                <div id="result"></div>
                <form action="" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="">Enter your Username</label>
                        <input type="text" name="username" class="form-control" id="un" placeholder="Enter Username">
                    </div>
                    <button type="button" class="btn btn-warning" onclick="getpass()" id="continue">Click To Contine</button>
                    
                    <div class="mt-2" style="display: none;" id="spin">
                        <div class="spinner"></div>
                    </div>
                    
                    <div class="form-group" style="display: none;" id="afterotp">
                        <label for="">Enter OTP</label>
                        <input type="text" name="" class="form-control" id="uotp" placeholder="Enter OTP Here">
                        <button onclick="matchotp()" type="button" class="btn btn-info mt-2">Verify OTP</button>
                        <input type="hidden"  id="realotp">
                    </div>
                    <div style="display: none;" id="changepass">
                    <div class="form-group">
                        <label for="">Enter New Password</label>
                        <input type="password" name="npass" class="form-control" placeholder="Enter New Password">
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btn btn-success" value="Change My Password">
                    </div>
                </div>
                </form>
            </div>
        </div>
    </div>
<script>
    function getpass(){
        $("#spin").show();
       let username =  $("#un").val();
        $.ajax({
            url: "{% url 'resetpass' %}",
            type: "get",
            data: {username:username},
            success:function(data){
                $("#spin").hide();
                if(data.status == "failed"){
                    $("#result").html("<p class='alert alert-danger'>No User Registered with this username</p>")
                }
                else if(data.status=="error"){
                    $("#result").html("<p class='alert alert-danger'>Could Not Sent Email to "+data.email+"Something went Wrong!!!</p>")
                }
                else if(data.status == "sent"){
                    $("#result").html("<p class='alert alert-success'>An OTP sent to your registered Email ID "+data.email+"</p>")
                    $("#continue").hide();
                    $("#realotp").val(data.rotp)
                    $("#afterotp").slideDown(1000);   }
            }
        })
    }
    function matchotp(){
        uotp = $("#uotp").val();
        rotp = $("#realotp").val();

        if (uotp == rotp){
                $("#afterotp").hide();
                $("#changepass").fadeIn(1000);
                $("#result").html("<p class='alert alert-success'>Validation Successfull!!!</p>")
        }
        else{
            $("#result").html("<p class='alert alert-danger'>Incorrect OTP </p>")
        }
    }
</script>
{% if status %}
    <script>
        alert("{{status}}");
        window.location = "/"
    </script>
{% endif %}
{% endblock %}