{% extends "base.html" %}
{% load static %}
{% block head %}

<style>
h1{
    font-family: cursive; color: red;
  }
.bg{
    height: 200px;background: url("static/images/nature.JPEG"); background-size: 100% 100%;
}
.myimg{
        height:300px;
}
.box:hover{
            height: 100%; width: 100%; background: rgba(0,0,0,0.5);color:white;text-align: justify;
}
</style>

{% endblock %}
{% block myblock %}
<div class="container-fluid">
    <div class="row mt-5 p-5" style="background: url('/static/images/cover.JPEG'); background-size: 100% 100%;">
        <div class="col-md-8 mx-auto">
            <form action="{% url 'all_product' %}">
            <div class="container">
                <div class="row">
                    <div class="col-md-5">
                        <input type="text" name="qry" class="form-control" placeholder="Search By Produt Name...">
                    </div>
                    <!-- <div class="col-md-5">
                        <input type="text" name="price" class="form-control" placeholder="Search By Price...">
                    </div> -->
                    <div class="col-md-2">
                        <button href="" type="submit" class="btn btn-success">Search</button>
                    </div>
                </div>
            </div>
        </form>
        </div>
    </div>

<div class="row">
    <div class="col-md-12 text-center">
      <h1>Our categories ({{category|length}})</h1>
    </div>
    {% for c in category %}
<div class="col-md-4 text-center">
    <div style="box-shadow: 0px 0px 10px black; background: url('/media/{{c.cover_pic}}'); background-size: 100% 100%;" class="myimg mt-5"> 
        <!-- <img src="/media/{{c.cover_pic}}" alt="" height="200"> -->
        <a href="{% url 'all_product' %}?cat={{c.id}}">
            <div class="box" style="height: 300px;">
                <h2>{{c.cat_name}}</h2>
                <p>{{c.description}}</p>
            </div>
        </a>
    </div>
</div>
{% endfor %}

</div>


<div class="row">
    <div class="col-md-12 ">
        <h2 class="text-center">Previous Feedbacks</h2>
        <h2 class="text-center">Total: {{message|length}}</h2>
        <table class="table table-bordered table-striped table-hover">
            <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Contact Number</th>
                <th>Subject</th>
                <th>Message</th>
                <th>Date</th>
            </tr>
           </thead>
           <tbody>
            {% for i in message %}
            <tr>
                <td>{{i.id}}</td>
                <td>{{i.name}}</td>
                <td>{{i.contact_number}}</td>
                <td>{{i.subject}}</td>
                <td>{{i.message}}</td>
                <td>{{i.added_on}}</td>
            </tr>
            {% endfor %}
        </tbody>
        </table>
    </div>
</div>
</div>
{% if status %}
<script>
alert("{{status}}")
window.location="/"
</script>
{% endif %}
{% endblock %}