{% extends "dashboard_base.html" %}
{% block dashboard %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h2 class="alert alert-primary text-center">Dashboard &gt; My Products ({{product|length}})</h2>
                
                <table class="table">
                    <thead>
                        <th>Product ID</th>
                        <th>Product Image</th>
                        <th>Product Name</th>
                        <th>Seller Name</th>
                        <th>Product Actions</th>
                    </thead>
                    <tbody>
                        {% for p in product %}
                            <tr>
                                <td>{{p.id}}</td>
                                <td><img src="/media/{{p.product_image}}" style="height: 50px; width: 100px;"></td>
                                <td>{{p.product_name}}</td>
                                <td>{{p.seller.first_name}} {{p.seller.last_name}}</td>
                                <td>
                                    <button class="btn btn-success" data-toggle="modal" data-target="#m{{p.id}}"><i class="fa fa-eye"></i> View</button>
                                    <a href="{% url 'update_product' %}?pid={{p.id}}" class="btn btn-warning"><i class="fa fa-edit"></i> Edit</a>
                                    <a href="{% url 'delete_product' %}?pid={{p.id}}" class="btn btn-danger"><i class="fa fa-trash"></i> Delete</a>
                                </td>
                            </tr>

                            <div class="modal fade" id="m{{p.id}}">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content">

                                        <div class="modal-header">
                                            <h1>Product Details</h1>
                                            <button class="close" data-dismiss="modal">&times;</button>
                                        </div>
                                        <div class="modal-body">
                                            <img src="/media/{{p.product_image}}"  height="200" width="100%">
                                            <h2>
                                                <a href="{% url 'single_product' %}?pid={{p.id}}">{{p.product_name}}</a>
                                            </h2>
                                            <p>({{p.product_category.cat_name}})</p>
                                            <p style="font-size: 30px;">
                                                 <del>&#8377; {{p.product_price}}</del>
                                                 <strong>&#8377; {{p.sale_price}}</strong>
                                            </p>
                                            <p>{{p.details}}</p>
                                        </div>
                                        <div class="modal-footer">
                                            <a href="{% url 'single_product' %}?pid={{p.id}}" class="btn btn-success">View Details</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}