{% extends "base.html" %}
{% block myblock %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <div style="background: url('/static/images/pro.JPEG'); background-size: 100% 100%;" class="h-100"></div>
        </div>
        <div class="col-md-6">
            <h1>Sign up Here</h1>
            <form action="" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6">
                            <label for="">First Name</label>
                            <input type="text" class="form-control" placeholder="First Name" name="first">
                        </div>
                        <div class="col-md-6">
                            <label for="">Last Name</label>
                            <input type="text" class="form-control" placeholder="Last Name" name="last">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <small id="result"></small>
                </div>
                <div class="form-group">
                    <label for="">User Name</label>
                    <input type="text" name="uname" id="username" onkeyup="checkuser()" class="form-control" placeholder="Enter Username">
                </div>
                <div class="form-group">
                    <label for="">Password</label>
                    <input type="password" name="password" class="form-control" placeholder="Enter Password">
                </div>
                <div class="form-group">
                    <label for="">Email</label>
                    <input type="email" name="email" class="form-control" placeholder="Enter Email">
                </div>
                <div class="form-group">
                    <label for="">Contact Number</label>
                    <input type="number" name="contact" class="form-control" placeholder="Enter Contact Number">
                </div>
                <div class="form-group">
                    <label for="">User Type</label>
                    <select name="utype" id="" class="form-control">
                        <option value="cust">I am customer</option>
                        <option value="sell">I am Seller</option>
                    </select>
                </div>
                <div class="form-group">
                    <input type="submit" value="Sign up" class="btn btn-success" id="submitbtn">
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    function checkuser(){
        let un = document.getElementById("username").value;
        $.ajax({
            url:"{% url 'check_user' %}",
            type:"get",
            data:{usern:un},
            success:function(data){
                if(data == "Exists"){
                    $("#result").html("This Username is already taken").addClass("text-danger");
                    $("#submitbtn").attr("disabled","disabled")
                }else{
                    $("#result").html("");
                    $("#submitbtn").removeAttr("disabled")
                }
            }
        })
    }
</script>
{% if status %}
<script>
    alert("{{status}}");
    window.location="/"
</script>
{% endif %}
{% endblock %}