{% extends "dashboard_base.html" %}
{% load static %}
{% block head %}
<style>
.bg-img{
    background:url("/static/images/cover.JPEG")
}
</style>
{% endblock %}
{% block dashboard %}
<div class="container-fluid">
    <div class="row">
       <div class="col-md-12 bg-img py-5 text-center text-light">
            <h1>Dashboard &gt; Send Email</h1>
       </div>
       <div class="col-md-6 mx-auto p-3 bg-light my-5 shadow shadow-lg">
           {% if status %}
                <div class="alert {{cls}}">{{status}}</div>
           {% endif %}
            <form action="" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label for="">To</label>
                    <input type="text" class="form-control" name="to" placeholder="To">
                </div>
                <div class="form-group">
                    <label for="">Subject</label>
                    <input type="text" class="form-control" name="sub" placeholder="Subject">
                </div>
                <div class="form-group">
                    <label for="">Message</label>
                    <textarea name="msz" class="form-control" rows="5" placeholder="Enter your Message"></textarea>
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-outline-primary rounded-pill" value="Send Email">
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}