{% extends "dashboard_base.html" %}
{% load static %}
{% block dashboard %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 mx-auto">
                <div class="card">
                    <div class="card-header">
                        <h1 class="text-center text-success ">DASHBOARD &gt; EDIT PRODUCT</h1>
                    </div>
                    <div class="card-body">
                        <form action="" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="form-group">
                            <div class="row">
                                <div class="col-md-12">
                                    <img src="/media/{{product.product_image}}" height="300" alt="">
                                    <label class="mt-3">Update Imge</label>
                                    <input type="file" class="form-control" name="pimg" value="Update Profile">

                                </div>
                            </div>
                            </div>
                                <div class="form-group">
                                    <div class="row">
                                <div class="col-md-6">
                                    <label for="">Product Name</label>
                                </div>
                                <div class="col-md-6">
                                    <input type="text" name="pname" class="form-control" value="{{product.product_name}}">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-6">
                                    <label for="">Product Category</label>
                                </div>
                                <div class="col-md-6">
                                    <select name="pcat" class="form-control" id="">
                                        {% for i in category %}
                                        {% if i.id == product.product_category.id %}
                                        <option value="{{i.id}}" selected>{{i.cat_name}}</option>
                                        {% else %}
                                        <option value="{{i.id}}">{{i.cat_name}}</option>
                                        {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-6">
                                    <label for="">Product Price</label>
                                </div>
                                <div class="col-md-6">
                                    <input type="number" name="pp" class="form-control" value="{{product.product_price}}">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-6">
                                    <label for="">Sale Price</label>
                                </div>
                                <div class="col-md-6">
                                    <input type="number" name="sp" class="form-control" value="{{product.sale_price}}">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-6">
                                    <label for="">Details</label>
                                </div>
                                <div class="col-md-6">
                                   <textarea name="des" id="" class="form-control" rows="5">{{product.details}}</textarea>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-6">
                                    <input type="submit" class="btn btn-warning" value="SAVE CHANGES" name="" id="">
                                </div>
                            </div>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% if status %}
<script>
    alert("{{status}}");
    window.location = "update_product?pid={{id}}";
</script>
{% endif %}
{% endblock %}