<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>First Page</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="{% static 'style.css'%}">
    <style>
        .background{
            background: url("{% static 'images/nature.JPEG'%}");background-size: 100% 100%;
        }
    </style>
</head>
<body>
    <div class="container-fluid">
        <div class="row background py-5">
            <div class="col-md-12 text-light text-center py-5" style="background: rgba(0,0,0,0.5);">
                <h1>My Website</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="p-3" style="box-shadow: 0px 0px 20px black;">
                <img src="{% static 'images/1.JPEG'%}" height="200" width="100%">
                <h4>lorem ipsum</h4>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consectetur explicabo quia magni similique doloribus, ullam dolores, 
                    vitae vel ad possimus nulla, eveniet eius natus quam beatae? Officiis doloribus porro exercitationem!</p>
                </div>  
             </div>
             <div class="col-md-4">
                <div class="p-3" style="box-shadow: 0px 0px 20px black;">
                <img src="{% static 'images/1.JPEG'%}" height="200" width="100%">
                <h4>lorem ipsum</h4>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consectetur explicabo quia magni similique doloribus, ullam dolores, 
                    vitae vel ad possimus nulla, eveniet eius natus quam beatae? Officiis doloribus porro exercitationem!</p>
                </div>  
             </div>
             <div class="col-md-4">
                <div class="p-3" style="box-shadow: 0px 0px 20px black;">
                <img src="{% static 'images/1.JPEG'%}" height="200" width="100%">
                <h4>lorem ipsum</h4>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consectetur explicabo quia magni similique doloribus, ullam dolores, 
                    vitae vel ad possimus nulla, eveniet eius natus quam beatae? Officiis doloribus porro exercitationem!</p>
                </div>  
             </div>
             <div class="col-md-4">
                <div class="p-3" style="box-shadow: 0px 0px 20px black;">
                <img src="{% static 'images/1.JPEG'%}" height="200" width="100%">
                <h4>lorem ipsum</h4>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consectetur explicabo quia magni similique doloribus, ullam dolores, 
                    vitae vel ad possimus nulla, eveniet eius natus quam beatae? Officiis doloribus porro exercitationem!</p>
                </div>  
             </div>   
             <div class="col-md-4">
                <div class="p-3" style="box-shadow: 0px 0px 20px black;">
                <img src="{% static 'images/1.JPEG'%}" height="200" width="100%">
                <h4>lorem ipsum</h4>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consectetur explicabo quia magni similique doloribus, ullam dolores, 
                    vitae vel ad possimus nulla, eveniet eius natus quam beatae? Officiis doloribus porro exercitationem!</p>
                </div>  
             </div>
             <div class="col-md-4">
                <div class="p-3" style="box-shadow: 0px 0px 20px black;">
                <img src="{% static 'images/1.JPEG'%}" height="200" width="100%">
                <h4>lorem ipsum</h4>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consectetur explicabo quia magni similique doloribus, ullam dolores, 
                    vitae vel ad possimus nulla, eveniet eius natus quam beatae? Officiis doloribus porro exercitationem!</p>
                </div>  
             </div>
        </div>
    </div>
</body>
</html>