<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>country</title>
</head>
<body style="background: cyan;">
    <table border="1" width="80%" align="center" style="text-align: center;" cellspacing="0">
        <thead>
            <tr>
                <th>Name</th>
                <th>Capital</th>
                <th>Borders</th>
                <th>Flag</th>
            </tr>
        </thead>
        <tbody>
            {% for i in country %}
          <tr>
              <td>
                  {{i.name}}
              </td>
              <td>
                  {{i.capital}}
              </td>
              <td>
                  {{i.borders}}
              </td>
              <td>
                  <div><img src="{{i.flag}}" alt="" height="100" width="100"></div>
              </td>
          </tr>
            {% endfor %}
        </tbody>

    </table>
</body>
</html>