<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <style>
        h1{color: red; text-shadow: 0px 0px 15px black; text-align: center;}
    </style>
</head>
<body style="background: aqua;">
    <h1>This is My First HTML Page Using Django</h1>

    <ul>
        <li>HTML</li>
        <li>CSS</li>
        <li>JS</li>
        <li>Bootstrap</li>
        <li>Jquery</li>
        <li>Python</li>
        <li>Django</li>
        <li>MySQL| sqlite</li>
    </ul>
    <!-- {{colors}}          template tags used to get dynamic data from views -->
    <!-- {% for i in colors %}
        {{i}}<br>
    {% endfor %} -->
    <h1> {{string}}</h1>
    <table border="1" width="80%" align="center" style="text-align: center;" cellspacing="0">
        <thead>
            <tr>
                <th>Color Name</th>
                <th>Color</th>
            </tr>
        </thead>
        <tbody>
            {% for i in colors %}
          <tr>
              <td>{{i}}</td>
              <td>
                  <div style="height: 100px; width: 100%;background: {{i}};"></div>
              </td>
          </tr>
            {% endfor %}
        </tbody>

    </table>
</body>
</html>